.section#main_content
  = link_to "http://www.maymillerricci.wordpress.com", target: "_blank" do
    = image_tag "stars", alt: "moon and stars", class: "to_sepia"
  %p.fix_height
    = link_to "My blog: The Coding Road", "http://www.maymillerricci.wordpress.com", target: "_blank"
    \- Read my blog about learning to code and attending
    = link_to "Coding Dojo", "http://www.codingdojo.com", target: "_blank"
    bootcamp.
  = link_to "http://www.linkedin.com/in/maymillerricci", target: "_blank" do
    = image_tag "linkedin.png", alt: "LinkedIn logo", class: "to_sepia"
  %p.fix_height
    = link_to "LinkedIn", "http://www.linkedin.com/in/maymillerricci", target: "_blank"
    \- View my professional profile.
  = link_to "https://github.com/maymillerricci", target: "_blank" do
    = image_tag "octocat.png", alt: "GitHub logo", class: "to_sepia"
  %p.fix_height
    = link_to "GitHub", "https://github.com/maymillerricci", target: "_blank"
    \- Check out my code!
  = link_to "http://www.codeivate.com/users/maymillerricci", target: "_blank" do
    = image_tag "http://www.codeivate.com/users/maymillerricci/signature.jpg", alt: "Codeivate signature"
  %p.fix_height
    = link_to "Codeivate", "http://www.codeivate.com/users/maymillerricci", target: "_blank"
    \- Watch me "level up" as I code.
  = link_to "http://www.ravelry.com/people/maymay7", target: "_blank" do
    = image_tag "knit.png", alt: "Shhh! I'm counting", class: "to_sepia"
  %p.fix_height
    = link_to "Ravelry", "http://www.ravelry.com/people/maymay7", target: "_blank"
    \- When I'm not coding, I love to knit! Check me out on Ravelry if you're a fellow Ravelry crafter.
