.section#main_content
  %h2 Welcome!
  = image_tag "yellow.png", class: "ninja", alt: "yellow belt ninja"
  = image_tag "green.png", class: "ninja", alt: "green belt ninja"
  = image_tag "red.png", class: "ninja", alt: "red belt ninja"
  = image_tag "black.png", class: "ninja", alt: "black belt ninja"
  %p.clear
    My name is May, and I'm a web developer. I completed
    = link_to "Coding Dojo", "http://www.codingdojo.com", target: "_blank"
    programming bootcamp in fall, 2013, where I learned HTML, CSS, jQuery, PHP, MySQL, Ajax, CodeIgniter, and Ruby on Rails. My current focus is on Ruby on Rails.
  %p.clear
    Check out the
    = link_to "About", about_path
    section for some links about me, read my
    = succeed "," do
      = link_to "Blog", "http://www.maymillerricci.wordpress.com", target: "_blank"
    or take a look at the projects in my
    = succeed "." do
      = link_to "Portfolio", portfolio_path
  %p.clear Thanks for stopping by!
