.section#main_content
  %h3.project_title Canvas Drawing:
  .fix_height
    = link_to "http://mathcanvas.herokuapp.com/", target: "_blank" do
      = image_tag "mathcanvaslogo", alt: "math canvas", class: "to_sepia no_margin_top"
    %p.project_link
      = link_to "Math Canvas", "http://mathcanvas.herokuapp.com", target: "_blank"
    %p.project_explanation Site where students can draw out solutions to math problems, using artwork to illustrate their individual thinking processes.  Created in Ruby on Rails, integrating my HTML5 canvas and jQuery drawing app.
  .fix_height
    = link_to projects_canvas_draw_path, target: "_blank" do
      = image_tag "canvas", alt: "canvas", class: "to_sepia no_margin_top"
    %p.project_link
      = link_to "First Draft of Drawing App", projects_canvas_draw_path, target: "_blank"
    %p.project_explanation Created using HTML5 canvas, jQuery, jQuery UI, and jQuery mobile to also work on touchscreen devices.
  %h3.project_title Here are a few of my favorite assignments from Coding Dojo:
  .fix_height
    = link_to projects_periodic_table_path, target: "_blank" do
      = image_tag "periodic_table", alt: "periodic table", class: "to_sepia no_margin_top"
    %p.project_link
      = link_to "Periodic Table of the Elements", projects_periodic_table_path, target: "_blank"
    %p.project_explanation
      Recreated from scratch using HTML, CSS, and jQuery. Hover over each element to see its name and
      = succeed "." do
        = link_to "JMOL color", "http://jmol.sourceforge.net/jscolors/#Jmol colors", target: "_blank"
  .fix_height
    = link_to projects_countries_path, target: "_blank" do
      = image_tag "earth", alt: "globe", class: "to_sepia no_margin_top"
    %p.project_link
      = link_to "Countries of the World", projects_countries_path, target: "_blank"
    %p.project_explanation Country information form using Ajax.
