#header.section
  = link_to root_path do
    = image_tag "wizard.png", alt: "wizard", class: "to_sepia", id: "wizard"
  %h1
    = link_to "May Miller-Ricci", root_path
#sidebar.section
  %ul
    #home.main_link
      %li
        = link_to "Home", root_path
    #about.main_link
      %li
        = link_to "About", about_path, class: "main_link", id: "about"
    #blog.main_link
      %li
        = link_to "Blog", "http://www.maymillerricci.wordpress.com", target: "_blank"
    #portfolio.main_link
      %li
        = link_to "Portfolio", portfolio_path, class: "main_link", id: "portfolio"
